
<mat-list>
  <mat-list-item>
    <mat-card class="receber">
      <mat-card-header>
        <mat-card-title>Descrição 1</mat-card-title>
        <mat-card-subtitle >Crédito</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>R$10.000,00</p>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-list-item>
    <mat-card class="pagar">
      <mat-card-header>
        <mat-card-title>Descrição 2</mat-card-title>
        <mat-card-subtitle>Débito</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>R$1.337,69</p>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-list-item>
    <mat-card class="receber">
      <mat-card-header>
        <mat-card-title>Descrição 3</mat-card-title>
        <mat-card-subtitle class="receber">Crédito</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>R$569,23</p>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>
